<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inekecake">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InekeCake">
        <activity android:name=".Activities.VerifyOtpActivity"></activity>
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Activities.FirebaseActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.UpdateDataActivity"
            android:parentActivityName=".Activities.CustomersActivity" />
        <activity
            android:name=".Activities.CreateDataActivity"
            android:parentActivityName=".Activities.CustomersActivity" />
        <activity
            android:name=".Activities.CustomersActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>